*.json diff=json
*.jsonc diff=json
*.png diff=exif
*.jpg diff=exif

*.re linguist-language=Reason
*.rei linguist-language=Reason

*.res linguist-language=ReScript
*.resi linguist-language=ReScript

*.ml linguist-language=OCaml
*.mli linguist-language=OCaml
*.mlx linguist-language=OCaml
*.mll linguist-language=OCaml
*.mly linguist-language=OCaml
