# Sets sane Zsh built-in environment options
zmodule environment

# Applies correct bindkeys for input events
zmodule input

# Sets a custom terminal title
zmodule termtitle

# Utility aliases and functions. Adds colour to ls, grep and less
# zmodule utility

# Exposes git repository status information to prompts, used by davesnx theme
zmodule git-info

# Additional completion definitions for Zsh
zmodule https://github.com/zsh-users/zsh-completions.git

# Enables and configures smart and extensive tab completion
# completion must be sourced after zsh-users/zsh-completions
zmodule zsh-users/zsh-completions --fpath src
# Enables and configures smart and extensive tab completion. Must be sourced after all modules that add completion definitions.
if [[ -d /opt/homebrew/share/zsh ]] && [[ $(uname) == Darwin ]] && [[ $(uname -m) == arm64 ]] ; then
    zmodule /opt/homebrew/share/zsh/site-functions --fpath .
fi
zmodule completion

# Fish-like autosuggestions for Zsh
zmodule zsh-users/zsh-autosuggestions

# Fish-like history search (up arrow) for Zsh
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

# Fish-like syntax highlighting for Zsh
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting

# zoxide is initialized manually in .zshrc with evalcache
# zmodule kiesman99/zim-zoxide

# Defer loading of modules until after compinit
zmodule romkatv/zsh-defer -d

# https://github.com/mroth/evalcache
zmodule mroth/evalcache
